<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Normal</string>
		<key>class</key>
		<string>Normal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PRO-B</string>
		<key>class</key>
		<string>GPUImageAmatorkaFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blue</string>
		<key>class</key>
		<string>GPUImageMissEtikateFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PRO-Y</string>
		<key>class</key>
		<string>GPUImageSoftEleganceFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SoftBW</string>
		<key>class</key>
		<string>GPUImageGrayscaleFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Enhance</string>
		<key>class</key>
		<string>GPUImageExposureFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Touchup</string>
		<key>class</key>
		<string>GPUImageContrastFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vive</string>
		<key>class</key>
		<string>GPUImageSaturationFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sepia</string>
		<key>class</key>
		<string>GPUImageSepiaFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sensible</string>
		<key>class</key>
		<string>GPUImageHighlightShadowFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Earlydays</string>
		<key>class</key>
		<string>GPUImageFalseColorFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sketch</string>
		<key>class</key>
		<string>GPUImageSketchFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emboss</string>
		<key>class</key>
		<string>GPUImageEmbossFilter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vignette</string>
		<key>class</key>
		<string>GPUImageVignetteFilter</string>
	</dict>
</array>
</plist>
