<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HatCategories</key>
	<array>
		<dict>
			<key>available</key>
			<string>25</string>
			<key>name</key>
			<string>Women</string>
			<key>imgNames</key>
			<array>
				<string>Hat_New_16.png</string>
				<string>Hat_New_18.png</string>
				<string>Hat_New_19.png</string>
				<string>Hat_Women_1.png</string>
				<string>Hat_Women_2.png</string>
				<string>Hat_Women_3.png</string>
				<string>Hat_Women_4.png</string>
				<string>Hat_Women_5.png</string>
				<string>Hat_Women_6.png</string>
				<string>Hat_Women_7.png</string>
				<string>Hat_Women_8.png</string>
				<string>Hat_Women_9.png</string>
				<string>Hat_Women_10.png</string>
				<string>Hat_Women_11.png</string>
				<string>Hat_Women_12.png</string>
				<string>Hat_Women_13.png</string>
				<string>Hat_Women_14.png</string>
				<string>Hat_Women_15.png</string>
				<string>Hat_Women_16.png</string>
				<string>Hat_Women_17.png</string>
				<string>Hat_Women_18.png</string>
				<string>Hat_Women_19.png</string>
				<string>Hat_Women_20.png</string>
				<string>Hat_Women_21.png</string>
				<string>Hat_Women_22.png</string>
				<string>Hat_Women_23.png</string>
				<string>Hat_Women_24.png</string>
				<string>Hat_Women_25.png</string>
				<string>Hat_Women_26.png</string>
				<string>Hat_Women_27.png</string>
				<string>Hat_Women_28.png</string>
				<string>Hat_Women_29.png</string>
				<string>Hat_Women_30.png</string>
				<string>Hat_Women_31.png</string>
				<string>Hat_Women_32.png</string>
				<string>Hat_Women_33.png</string>
				<string>Hat_Women_34.png</string>
				<string>Hat_Women_35.png</string>
				<string>Hat_Women_36.png</string>
				<string>Hat_Women_37.png</string>
				<string>Hat_Women_39.png</string>
				<string>Hat_Women_40.png</string>
				<string>Hat_Women_41.png</string>
				<string>Hat_Women_42.png</string>
				<string>Hat_Women_43.png</string>
				<string>Hat_Women_44.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>16</string>
			<key>name</key>
			<string>Children</string>
			<key>imgNames</key>
			<array>
				<string>Hat_New_5.png</string>
				<string>Hat_New_6.png</string>
				<string>Hat_New_8.png</string>
				<string>Hat_New_13.png</string>
				<string>Hat_New_15.png</string>
				<string>Hat_Children_1.png</string>
				<string>Hat_Children_3.png</string>
				<string>Hat_Children_4.png</string>
				<string>Hat_Children_5.png</string>
				<string>Hat_Children_6.png</string>
				<string>Hat_Children_7.png</string>
				<string>Hat_Children_8.png</string>
				<string>Hat_Children_9.png</string>
				<string>Hat_Children_10.png</string>
				<string>Hat_Children_12.png</string>
				<string>Hat_Children_13.png</string>
				<string>Hat_Children_14.png</string>
				<string>Hat_Children_15.png</string>
				<string>Hat_Children_16.png</string>
				<string>Hat_Children_17.png</string>
				<string>Hat_Children_18.png</string>
				<string>Hat_Children_19.png</string>
				<string>Hat_Children_20.png</string>
				<string>Hat_Children_21.png</string>
				<string>Hat_Children_23.png</string>
				<string>Hat_Children_24.png</string>
				<string>Hat_Children_25.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>15</string>
			<key>name</key>
			<string>Men</string>
			<key>imgNames</key>
			<array>
				<string>Hat_Men_1.png</string>
				<string>Hat_Men_2.png</string>
				<string>Hat_Men_3.png</string>
				<string>Hat_Men_4.png</string>
				<string>Hat_Men_5.png</string>
				<string>Hat_Men_6.png</string>
				<string>Hat_Men_7.png</string>
				<string>Hat_Men_8.png</string>
				<string>Hat_Men_10.png</string>
				<string>Hat_Men_11.png</string>
				<string>Hat_Men_12.png</string>
				<string>Hat_Men_13.png</string>
				<string>Hat_Men_14.png</string>
				<string>Hat_Men_15.png</string>
				<string>Hat_Men_16.png</string>
				<string>Hat_Men_17.png</string>
				<string>Hat_Men_18.png</string>
				<string>Hat_Men_19.png</string>
				<string>Hat_Men_20.png</string>
				<string>Hat_Men_22.png</string>
				<string>Hat_Men_23.png</string>
				<string>Hat_Men_24.png</string>
				<string>Hat_Men_25.png</string>
				<string>Hat_Men_26.png</string>
				<string>Hat_Men_28.png</string>
				<string>Hat_Men_29.png</string>
				<string>Hat_Men_30.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>10</string>
			<key>name</key>
			<string>Mask</string>
			<key>imgNames</key>
			<array>
				<string>Hat_Funny_8.png</string>
				<string>Hat_Funny_11.png</string>
				<string>Hat_New_1.png</string>
				<string>Hat_New_4.png</string>
				<string>Hat_New_10.png</string>
				<string>Hat_New_17.png</string>
				<string>Hat_New_22.png</string>
				<string>Hat_New_23.png</string>
				<string>Hat_New_24.png</string>
				<string>Hat_New_25.png</string>
				<string>Hat_New_26.png</string>
				<string>Hat_New_27.png</string>
				<string>Hat_New_28.png</string>
				<string>Hat_New_31.png</string>
				<string>Hat_New_32.png</string>
				<string>Hat_New_29.png</string>
				<string>Hat_New_30.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>12</string>
			<key>name</key>
			<string>Funny</string>
			<key>imgNames</key>
			<array>
				<string>Hat_New_7.png</string>
				<string>Hat_New_9.png</string>
				<string>Hat_New_11.png</string>
				<string>Hat_New_12.png</string>
				<string>Hat_Funny_1.png</string>
				<string>Hat_Funny_2.png</string>
				<string>Hat_Funny_3.png</string>
				<string>Hat_Funny_5.png</string>
				<string>Hat_Funny_6.png</string>
				<string>Hat_Funny_7.png</string>
				<string>Hat_Funny_9.png</string>
				<string>Hat_Funny_10.png</string>
				<string>Hat_Funny_12.png</string>
				<string>Hat_Funny_13.png</string>
				<string>Hat_Funny_14.png</string>
				<string>Hat_Funny_15.png</string>
				<string>Hat_Funny_16.png</string>
				<string>Hat_Funny_17.png</string>
				<string>Hat_Funny_18.png</string>
				<string>Hat_Funny_19.png</string>
				<string>Hat_Funny_20.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>7</string>
			<key>name</key>
			<string>Role</string>
			<key>imgNames</key>
			<array>
				<string>Hat_New_21.png</string>
				<string>Hat_Profession_1.png</string>
				<string>Hat_Profession_2.png</string>
				<string>Hat_Profession_3.png</string>
				<string>Hat_Profession_4.png</string>
				<string>Hat_Profession_5.png</string>
				<string>Hat_Profession_6.png</string>
				<string>Hat_Profession_7.png</string>
				<string>Hat_Profession_8.png</string>
				<string>Hat_Profession_9.png</string>
				<string>Hat_Profession_10.png</string>
				<string>Hat_New_33.png</string>
			</array>
		</dict>
		<dict>
			<key>available</key>
			<string>5</string>
			<key>name</key>
			<string>Love</string>
			<key>imgNames</key>
			<array>
				<string>Hat_Valentine_1.png</string>
				<string>Hat_Valentine_2.png</string>
				<string>Hat_Valentine_3.png</string>
				<string>Hat_Valentine_4.png</string>
				<string>Hat_Valentine_5.png</string>
				<string>Hat_Valentine_6.png</string>
				<string>Hat_Valentine_7.png</string>
				<string>Hat_Valentine_10.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
