<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>frame_0.png</string>
	<string>frame_1.png</string>
	<string>frame_2.png</string>
	<string>frame_3.png</string>
	<string>frame_4.png</string>
	<string>frame_5.png</string>
	<string>frame_6.png</string>
	<string>frame_7.png</string>
	<string>frame_10.png</string>
	<string>frame_12.png</string>
	<string>frame_13.png</string>
	<string>frame_8.png</string>
</array>
</plist>
